.App {
  text-align: center;
  height: 100vh;
  border: solid violet 4px;
  display: flex;
}

.container {
  width: 700px !important;
  height: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  /* padding: 2.5rem 0; */
  border: solid black 1px;
}
